body{
    background-color: black;
    color:white;
    margin:0px;
    padding:0;
    font-family: 'Courier New';

}
.navBar{
    background-color: rgba(132, 133, 140, 0.5);
    width: 100%;
    margin-top:0px;
    padding: 20px;
    height:70px;
    text-align: center;
}
h1{
    margin:auto;
    color:azure;
    font-family: 'Courier New';
    font-size: 50px;
}
.table {
	width:100%;
	border:1px solid ;
}

.table-header {
	display:flex;
	width:100%;
	background:#000;
	padding:10px;
}
.carPhoto{
    height:100px;
    border-radius: 25px;
    width: 150px;
}
.carBox{
    background-color: rgba(132, 133, 140, 0.5);
    border-radius: 20px;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    width: 200px;
    padding:20px 10px;
    flex-basis: 20%;
    margin:20px;
    text-align: center;

}
.carBox:hover{
    transform: scale(1.2);
}


.carListBox{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content: center;
    margin-top:30px;
    padding:50px;
}
p{
    font-family:'Lucida Sans Unicode';
}

.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
input[type=text]  {
    border: none;
    background: transparent;
    border-bottom: 2px solid red;
    color:white;
  }
  textarea{
    border: none;
    background: transparent;
    border-bottom: 2px solid red;
    color:white;
  }
  input[type=number] {
    border: none;
    background: transparent;
    border-bottom: 2px solid red;
    width:60px;
    color:white;
  }
  input[type=submit]{
    background: transparent;
    width:60px;
    color:white;
    border-color: red;
    border-radius:20px;
  }
  input[type=submit]:hover{
    background: red;
    color:black;
    cursor:pointer;
}
input[type=file]{
    background: transparent;
    width:60px;
    color:white;
    border-color: red;
    border-radius:20px;
  }
  button{
    background: transparent;
    width:120px;
    color:white;
    border-color: red;
    border-radius:20px;
    height:30px;
    margin:10px;
  }
  button:hover{
      background: red;
      color:black;
      cursor:pointer;
      
  }
  a{
      text-decoration: none;
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: white;
  }
  a:active {
    color: black;
  }
  .carModel{
    color:red;
}
.imageView{
    width: 80%;
}
.carViewBox{
    width: 40%;
    padding-top: 50px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size:20px;
}
table,th, td{
    border:1px solid rgba(132, 133, 140, 0.5);;
    text-align: start;
    border-collapse: collapse;

}
.editDeleteBtns{
    display: flex;
    flex-direction: row;
    padding:20px;
}
.addCar{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:20px;
    margin: auto;
}
.alert{
    background-color: red;
    color:black;
    text-align: center;
}
ul{
    list-style-type: none;

}
